.container{display: flex; flex-direction: column; max-width: 600px; width: 100%; justify-content: center; border: 1px solid #ccc; align-items: center; margin: 0 auto; padding: 20px;}
button{border: 0; background-color: cadetblue; padding: 8px 25px; border-radius: 10px; margin-left: 10px; color: #fff; cursor: pointer;}
.pt-20{padding-top: 20px;}

.user{ background-color: aquamarine; border-radius:4px; padding: 4px 15px; display: flex; justify-content: space-between}
.removeuser{cursor: pointer;}

.navlinks{display: flex; list-style: none; padding: 0; justify-content: space-around; text-decoration: none; background-color: #ddd; padding: 10px; margin: 0; font-size: 14px; font-weight: 500; border-bottom: 1px solid #999;}
.navlinks a{text-decoration: none; color: black;}
.navlinks a.active{color: red; font-weight: bold;}